
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="Japan language, japan, nihongo, nippongo, японский язык, японский, язык, курсы японского языка" />
    <meta name="description" content="Курсы Японского языка" />
    <link href="~/css/ResetStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Home Page Style/HomePageStyle.css" rel="stylesheet" type="text/css" />
    <title> Курсы Японского языка </title>
</head>
<body>
    <div class="backButton">
        <a href="#" class="BB" tabindex="0">UP</a>
    </div>
    <div class="wrap">

        <div class="row row-1">
            <div class="col col-1"><a href="">Главная</a></div>
            <div class="col col-2"><a href="">Новости</a></div>
            <div class="col col-3"><a href="">Курсы</a></div>
            <div class="col col-4"><a href="">Обратная связь</a></div>
            <div class="col col-5"><a href="">Статьи</a></div>
        </div>

        <div class="row row-2">
            <div class="col col-1">
                <div class="block block-1">
                    <img src="~/images/Home Page Images/Home Page Image.jpg" alt="error" />
                </div>
            </div>
            <div class="col col-2">
                <div class="block block-2">
                    <div class="block block-3">
                        <b>Японский - легче чем кажется</b>
                        <h3><i>Авторизируйтесь для ознакомления с курсами</i></h3>
                    </div>
                    <div class="block block-4">
                        <div class="block block-5">
                            <b>Авторизация</b>
                        </div>
                        <input class="input-1" type="text" placeholder="    E-Mail">
                        <input class="input-2" type="text" placeholder="    Password">
                        <a class="reg-button" href="">Войти</a>
                        <a class="auth-button" href="../Home/Index">Нет аккаунта? Зарегестрироваться</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-3">
            <div class="col col-1">
                <i> Уникальное сочетание </i>
                <b>Язык и Культура в одном флаконе</b>
            </div>
            <div class="col col-2">
                <p>
                    Начинающему японский язык может показаться довольно-таки сложным,
                    ведь здесь даже запоминание новых слов представляет собой немалую
                    проблему хотя бы потому, что японский язык возник и развивался в
                    стороне от привычных нам европейских языков и не имеет с ними общей
                    основы, в отличие, скажем, от языков романо-германской группы,
                    имеющих в своем словарном наборе немало идентично звучащих слов,
                    объединенных общим латино-греческим происхождением.
                </p>
            </div>
        </div>
        <dib class="row row-4">
            <div class="col col-1"><a href=""><p>Язык</p><img src="~/images/Home Page Images/Language Image 1.jpg" alt="error" /></a></div>
            <div class="col col-2"><a href=""><p>Исскуство</p><img src="~/images/Home Page Images/Art Image 1.jpg" alt="error"></a></div>
            <div class="col col-3"><a href=""><p>Культура</p><img src="~/images/Home Page Images/Culture Image 1.jpg" alt="error"></a></div>
        </dib>
        <div class="row row-5">
            <div class="col col-1">
                <a href="">Последние новости</a>
                <p>Япония здесь и сейчас</p>
            </div>
            <div class="col col-2">
                <div class="block block-1">
                    <img src="~/images/Home Page Images/First News Image 1.jpg" alt="error">
                </div>
                <div class="block block-2">
                    <div class="block block-2-1">
                        <div class="block block-2-1-1">
                            <b>КИОТСКИЙ АКЦЕНТ</b>
                            <p>
                                Хотите побольше узнать о Киотском акценте,
                                познакомится с историей его формирования и научиться
                                говорить используя его? Эта статья поможет вам
                                сделать первый шаг к изучению данного фонетического
                                аспекта.
                            </p>
                            <a href="">Перейти</a>
                        </div>
                        <div class="block block-2-1-2">
                            <img src="~/images/Home Page Images/Second News Image.jpg" alt="error">
                        </div>
                    </div>
                    <div class="block block-2-2">
                        <div class="block block-2-2-1">
                            <img src="~/images/Home Page Images/Third News Image.jpg" alt="error">
                        </div>
                        <div class="block block-2-2-2">
                            <b>ЯПОНСКАЯ ГРАММАТИКА</b>
                            <p>
                                Вводный урок в Японскую грамматику поможет вам не только
                                узнать больше, но и понять что Японский язык не кусается,
                                а его грамматика на самом деле очень проста и хороша для
                                запоминания.
                            </p>
                            <a href="">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="block block-3">
                    <div class="block block-3-1">
                        <img src="~/images/Home Page Images/Fourth News Image.jpg" alt="error">
                    </div>
                    <div class="block block-3-2">
                        <b>ЯЗЫК С НОСИТЕЛЕМ</b>
                        <p>
                            Узнай все секреты языка и научись легко общаться,
                            благодаря живым урокам с носителем языка.
                        </p>
                        <a href="">Перейти</a>
                    </div>
                </div>
                <div class="block block-4">
                    <img src="~/images/Home Page Images/Fifth News Image.jpg" alt="error">
                </div>
            </div>
        </div>
        <div class="row row-6"></div>
        <div class="row row-7">
            <div class="col col-1">
                <img src="~/images/Home Page Images/Home Page Image.jpg" alt="error">
            </div>
            <div class="col col-2">
                <a href="">Обратная связь</a>
                <p>E-mail: vinnik_21@bk.ru</p>
                <p class="p-1">Все права защищены (с)</p>
            </div>
        </div>
    </div>
</body>
</html>